<button type="button" class="btn btn-primary btn-block patrolaBtn">Dodaj novu patrolu</button>

<table class="table table-hover patrola">
  <thead>
    <tr>
      <th>Vrijeme prijave</th>
      <th>Lokacija</th>
      <th>Vrsta kontrole</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |patrola|}}  
    <tr>
      <td>{{patrola.vrijeme_prijave}}</td>
      <td>{{patrola.lokacija.naziv}}</td>
      <td>{{patrola.vrsta_kontrole}}</td>
      <td>{{#link-to 'prikazkomentara'}}Pogledaj komentare{{/link-to}}</td>
      <td><input class="btn btn-primary btn-sm" type="submit" value="Odjavi patrolu" {{action 'uklonipatrolu' patrola.id}}></td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
