<p class="bg-info">Imate korisnički račun?</p>

<form>
  <div class="form-group">
    {{input type="username" placeholder="Username" class="form-control" id="exampleInputUsername1" value=model.username}}
  </div>
  <div class="form-group">
    {{input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value=model.password}}
  </div>
  <button class="btn btn-default" {{action 'login'}}>Prijavi se</button>
  <h4 style="color:red">{{errorMessage}}</h4>
</form>

{{outlet}}
