{{outlet}}

<p class="bg-info">Kreiranje korisničkog računa</p>

<form {{action 'register' on="submit"}}>
  <div class="form-group">
    {{input type="ime" class="form-control" id="exampleInputIme1" placeholder="Ime i prezime" value=ime}}
  </div>
   <div class="form-group">
    {{input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@example.com" value=email}}
  </div>
  <div class="form-group">
    {{input type="username" class="form-control" id="exampleInputUsername1" placeholder="Username" value=username}}
  </div>
  <div class="form-group">
    {{input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value=password}}
  </div>
  <div class="form-group">
    {{input type="password" class="form-control" id="exampleInputPonovitePassword1" placeholder="Ponovite password" value=repeatedPassword}}
  </div>
  <button type="submit" class="btn btn-default" >Registruj se</button>
</form>




